.togetsu {
	display: inline-block;
	border: 1px solid #97D3E3;
	border-radius: 5px;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	color: #006EA5;
/*	background: #97D3E3;*/
}
.zengetsu {
	display: inline-block;
	border: 1px solid #C0D860;
	border-radius: 5px;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 1px;
	color: #7B8F2B;
/*	background: #C0D860;*/
}