.date {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
/*	background: #CCC;*/
	padding-top: 12px;
	padding-bottom: 12px;
/*	border: 1px solid #000;*/
}

.name {
	display: inline-block;
	width: 100%;
	border: 1px solid #000;	
	padding-top: 3px;
	padding-bottom: 3px;
}

.textbox {
	position: relative;
	display: block;
	width: 100%;
	padding: 0px 10px;
}

.textstart {
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 18px;
	left: 0;
	top: 0;
	border-left: 3px solid #BBB;
	border-top: 3px solid #BBB;
}

.textend {
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 18px;
	right: 0;
	bottom: 0;
	border-right: 3px solid #BBB;
	border-bottom: 3px solid #BBB;	
}

.btn a {
	display: block !important;
	width: 100%;
	padding: 12px 24px;
	background: #DDD;
	color: #666;
	border-radius: 5px;
}

.btn a:hover {
	display: block;
	background: #EFEFEF;
	border-radius: 5px;
}
/*
.from {
	display: inline-block;
	width: 100%;
	border: 1px solid #000;	
	padding-top: 3px;
	padding-bottom: 3px;
}
*/
.id990 {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #DFECAA;
}
.id991 {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #FCEDAA;
}
.id992 {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #F3C0AB;
}
.id994 {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #DEDFEF;
}
.id995 {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #C9E8F1;
}
.id996 {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #F3D1E5;
}
.id999 {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #CCC;
}