table.tablesorter {
	font-size:          14px;
/*	background-color: #4D4D4D;*/
	background-color:   #FFF;
	width:              100%;
/*	border: 1px solid #000;*/
}
table.tablesorter th {
	text-align:         left;
	color:              #FFF;
	background-color:   #3279b6;
	border-top:         #2d6ca3;
	border-bottom:      2px solid #15344f;
	padding-left:       20px;
	padding-top:        7px;
	padding-bottom:     7px;
	height:             auto;
}
table.tablesorter td {
	color:              #444;
	padding:            5px;
	border-bottom: 1px solid #DDD;
}
table.tablesorter .even {
/*	background-color: #3D3D3D;*/
	background-color:   #FFF;
}
table.tablesorter .odd {
/*	background-color: #6E6E6E;*/
	background-color:   #FFF;
}
table.tablesorter .header {
	background-image:   url(bg.png);
	background-repeat:  no-repeat;
	color:              #FFF;
/*	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;*/
	border-top:         #2d6ca3;
	border-bottom:      2px solid #15344f;
	padding-left:       20px;
	padding-top:        7px;
	padding-bottom:     7px;
	height:             auto;
}
table.tablesorter .headerSortUp {
	background-image:   url(asc.png);
	background-repeat:  no-repeat;
}
table.tablesorter .headerSortDown {
	background-image:   url(desc.png);
	background-repeat:  no-repeat;
}